<div class="favorite">
  <img
    class="avatar-favorite"
    src="../../../assets/images/salvador.png"
    alt=""
  />
  <div class="avatar">
    <img src="../../../assets/images/foto.jpeg" alt="" />
  </div>
  <div class="content"></div>
  <div class="grid">
    <div class="col-desk-8 col-desk-shift-2">
      <div class="profile">
        <div class="profile-header">
          <h1>Nayib Bukele</h1>
          <h3>Presidente del El Salvador</h3>
        </div>
        <p>
          Nayib Bukele nació el 24 de julio de 1981 en la ciudad de San
          Salvador. Hijo del ingeniero químico Armando Bukele Kattán, de origen
          palestino, y de Olga Ortez. Su familia paterna, originaria de Belén y
          Jerusalén, emigró a El Salvador a comienzos del siglo XX con pasaporte
          otomano. Armando Bukele, un importante imán en San Salvador,​ impulsó
          algunas de las primeras mezquitas de América Latina.​ A su corta edad,
          Bukele era reconocido por su emprendimiento, dirigiendo ya una empresa
          desde 1999, a la edad de dieciocho años.9​ Fue propietario de la
          distribuidora de motocicletas Yamaha y fue director presidente de la
          empresa publicitaria Obermet en 2011. Estudió la carrera de Ciencias
          Jurídicas en la Universidad Centroamericana José Simeón Cañas; sin
          embargo, decidió pausar sus estudios superiores para dedicarse a las
          empresas familiares y a la autodidacta y enseñanza paternal. Antes de
          presentarse como candidato a la alcaldía de Nuevo Cuscatlán, había
          trabajado doce años con el Frente Farabundo Martí para la Liberación
          Nacional (FMLN) en asuntos de publicidad.
        </p>
      </div>
    </div>
    <div class="col-desk-8 col-desk-shift-2">
      <h4>Candidatura presidencial</h4>
      <div class="grid">
        <div class="col-desk-6">
          <div class="article">
            <p>
              El 25 de octubre de 2017, Bukele dijo en una transmisión en vivo
              de Facebook que había iniciado la conformación del movimiento
              Nuevas Ideas, que buscaba ser un partido político. Posteriormente,
              recolectó más de 200 000 firmas para que el movimiento se
              convirtiera en partido. Bukele ha denunciado «ser víctima del
              sistema» (Tribunal Supremo Electoral, Corte Suprema de Justicia,
              Fiscalía General, Corte de Cuentas y partidos políticos
              tradicionales) y anunció que procedería a demandar
              internacionalmente al Tribunal Supremo Electoral (TSE) en caso de
              dilatarse el proceso de inscripción de su partido. Fue hasta el 21
              de agosto de 2018 que el TSE procedió a constituir y
              posteriormente inscribir a Nuevas Ideas como partido político.
            </p>
          </div>
        </div>
        <div class="col-desk-6">
          <div class="article">
            <p>
              El 30 de junio de 2018, Bukele anunció una alianza con el
              instituto político de centro izquierda Cambio Democrático (CD),
              para poder competir en la campaña presidencial de 2019. Ante esto,
              la Sala de lo Constitucional de la Corte Suprema de Justicia
              conoció una demanda interpuesta en el 2015 donde se pide la
              cancelación de los partidos CD​ y el Partido Social Demócrata
              (PSD). El 10 de julio la Sala ordenó al TSE que cumpliese el
              proceso de inhabilitación para ambos partidos.​ El 26 de julio el
              TSE decide cancelar al partido CD,25​26​ una decisión muy
              polémica, ya que para muchos se violentó el artículo 47 de la Ley
              de Partidos Políticos.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
